.navbar__button {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  background-color: var(--navbar__color--blue);
}

.home__button {
  background-color: var(--navbar__color--blue);
}

.image__home {
  width: 40px;
  height: auto;
  background-color: var(--navbar__color--blue);
}

.navbar__button--buttons {
  background-color: var(--navbar__color--blue);
}
