.card__main {
  box-sizing: border-box;
  margin: 10px;
  border: solid black;
}

.card__title {
  /* TODO this is to work for later */
}

.card__p {
  padding: 20px;
}

.card__button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card__button-text {
  padding: 20px;
}

.card__list {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 12px;
}

.card__tags {
  padding: 10px 20px;
  border: solid black;
}
